body {
    background-color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;
}

h1 {
    color: #0099FF;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid black;
}

tbody tr:hover {
    background: whitesmoke;
}

#results {
    display: flex;
    flex-wrap: wrap;
}

#series {
    margin: 5px;
    max-width: 250px;
    background-color: #E0E0E0;
    border-radius: 3%;
}

.hidden {
    display: none;
}

#infoText {
    margin-left: 7px;
    margin-right: 7px;
}

.info, .favs {
    width: 100px;
    padding: 0.25rem;
}

.info {
    margin-left: 20px;
}

.favs {
    margin-right: 20px;
}

#series img, #name {
    margin-left: 20px;
    margin-right: 20px;
}

#series img {
    margin-top: 20px;
    border-radius: 15%;
}

#name {
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.623);
}

#netflixIcon, #amazonIcon {
    width: 40px;
    height: 40px;
}

table #netflixIcon, table #amazonIcon {
    width: 30px;
    height: 30px;
    padding: 10px;
}

p #netflixIcon {
    margin-left: 50px;
}

p #amazonIcon {
    margin-left: 40px;
}