body {
    background-color: rgb(185, 182, 177);
}

h1 {
    color: whitesmoke;
}

#results {
    display: flex;
    flex-wrap: wrap;
}

#series {
    margin: 10px;
    max-width: 250px;
    background-color: rgba(189, 45, 45, 0.226);
    border-radius: 1%;
    border-style: groove;
}

.hidden {
    display: none;
}

#infoText {
    margin-left: 5px;
    margin-right: 5px;
}

.info, .favs {
    width: 210px;
    background-color: rgb(255, 215, 196);
}

#series img, #name, #series button{
    margin-left: 20px;
}

#series img {
    margin-top: 20px;
    border-radius: 15%;
}
